<center>

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0.3" class="active"></li>
            <li data-target="#demo" data-slide-to="0.4"></li>
            <li data-target="#demo" data-slide-to="0.5"></li>
            <li data-target="#demo" data-slide-to="0.6"></li>
        </ul>

        <!-- The slideshow -->
        <div [isControls]="true" class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
            <div class="carousel-item ">
                <img class="img-fluid" src="../../../../assets/img/vinass1.png" width="100%" height="100%" alt="Los Angeles">
                <div class="carousel-caption">
                    <h6 class="font-weight-bold text-center black-text">Nhận thiết kế cho công ty, giới thiệu sản phẩm,bán hàng,hiện đại và khoa học.</h6>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="../../../../assets/img/vinass2.png" width="100%" height="100%" alt="Chicago">
                <div class="carousel-caption">
                    <h6 class="font-weight-bold text-center black-text">
                        VINASS là đối tác đáng tin và tiềm năng trong các lĩnh vực số,và luôn đồng hành với bạn</h6>
                </div>
            </div>
            <div class="carousel-item active">
                <img class="img-fluid" src="../../../../assets/img/vinass3.png" width="100%" height="100%" alt="New York">
                <div class="carousel-caption">
                    <h6 class="font-weight-bold text-center black-text">
                        VINASS nhận thiết kế ững ứng dụng trên điện thoại theo yêu cầu</h6>
                </div>
            </div>
            <div class="carousel-item">
                <img class="img-fluid" src="../../../../assets/img/vinass4.png" width="100%" height="100%" alt="New York">
                <div class="carousel-caption">
                    <h6 class="font-weight-bold text-center black-text">
                        VINASSs thiết kế, và hoàn thiện những sản phẩm của công ty để cạnh tranh như ứng dụng mobile,web bán hàng</h6>
                </div>
            </div>
            <!-- <div class="carousel-item">
          <img class="img-fluid" src="../../../../assets/img/vinass5.png" width="100%" height="100%" alt="New York">
          <div class="carousel-caption">
            <h6 class="font-weight-bold text-center black-text">
              VINASS là trung tâm tâm tin học uy tín giảng dạy.về Website,App,mobile,từ chuyên gia đến từ nước ngoài.</h6>
          </div>
        </div> -->
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon black-text"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon black-text"></span>
        </a>

    </div>
</center>
<br>
<!-- <app-title></app-title> -->
<br>
<br>
<div class="container wow fadeInUp system" data-wow-delay="0.3s">
    <div class="row wow fadeInUp" data-wow-delay="0.3s">
        <div class="col-lg col-md-12 mb-lg-0 mb-4">
            <div class="wow bounceInLeft" data-wow-delay="0.2s">
                <h3 class="text-center black-text font-weight-bold system1">Giới thiệu về VINASS</h3>
                <p class="font-weight-normal system">
                    VINASS là công ty dịch vụ chuyên cung cấp các sản phẩm, dịch vụ công nghệ, đặc biệt đưa ra những định hướng và giải pháp
                    tối ưu công nghệ, đưa công nghệ mới cho các đối tác.
                </p>
                <p class="font-weight-normal system">
                    Trong những ngày đầu hình thành chúng tôi chỉ là những kỹ sư yêu công nghệ, bằng sự học hỏi và kết nối các cộng sự từ nhiều
                    nước như Pháp, Mỹ, Singapore, Việt Nam. Chúng tôi thành lập team công nghệ thông tin. Sau 5 năm nghiên
                    cứu, làm việc và tích lũy chúng tôi đã có những kinh nghiệm trong nhiều mảng công nghệ như:
                </p>
                <br>
                <ul>
                    <li class="text-left font-weight-normal">
                        Thiết kế các ứng dụng web, application Andoird và IOS
                    </li>

                    <li class="text-left font-weight-normal">
                        Thiết kế các platform theo yêu cầu khách hàng
                    </li>

                    <li class="text-left font-weight-normal">
                        Xử lý tín hiệu (singal processing), xử lý ảnh (digital image processing )
                    </li>

                    <li class="text-left font-weight-normal">
                        Nghiên cứu data (data sience), marchine learning, deeplearning.
                    </li>

                    <li class="text-left font-weight-normal">
                        Thiết kế, nghiên cứu vi mạch điện tử và lập trình nhúng.
                    </li>

                    <li class="text-left font-weight-normal">
                        Thiết kế các thiết bị, ứng dụng IoT.
                    </li>
                </ul>
                <p class="font-weight-normal system">
                    VINASS đặt phương châm sáng tạo, trách nhiệm, uy tín và chất lượng làm hàng đầu, các đối tác đến với công ty chúng tôi, sẽ
                    được hỗ trợ tận tình và sẽ hài lòng về chất lượng các sản phẩm dịch vụ của chúng tôi.
                </p>
            </div>

        </div>
    </div>
    <hr>
    <br>
    <br>
    <br>
    <div class="row  ">
        <div class="row ">
            <div class=" wow bounceInLeft system" data-wow-delay="0.3s">
                <img class="img-fluid" src="http://congthuong.vn/stores/news_dataimages/thuhang/092016/30/15/efd18b866001b568c0cdbb92d2d0587a_taicocau.jpg"
                    alt="Card image cap">
            </div>
        </div>
        <div class="col-lg col-md-12 mb-lg-0 mb-4 ">
            <div class=" wow bounceInLeft system" data-wow-delay="0.4s">
                <h2 class="text-center black-text font-weight-bold">
                    Chiến lược phát triển
                </h2>
                <p class="text-left black-text font-weight-normal">
                    Tăng cường đầu tư và nâng cao chất lượng đội ngũ chuyên gia công nghệ, xây dựng môi trường làm việc đầy sáng tạo. Hướng phát
                    triển đưa công nghệ mới vào giáo dục, trường học và cộng đồng.

                </p>

            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">
            <div class=" wow bounceInLeft system" data-wow-delay="0.3s">
                <img class="img-fluid" src="http://thanhcong.vn/Uploads/GioiThieuChung/GiaTri/Value1-1-2.jpg" alt="Card image cap">
            </div>

        </div>
        <div class="col-lg-7 col-md-12 mb-lg-0 mb-4 ">
            <div class=" wow bounceInLeft system" data-wow-delay="0.4s">
                <h2 class="text-center black-text font-weight-bold">
                    Giá trị
                </h2>
                <p class="text-left black-text font-weight-normal">
                    VINASS thúc đẩy kinh doanh online, kinh doanh trong thế giới phẳng bằng những phần mềm, trang web tiện ích

                </p>

                <p class="text-left black-text font-weight-normal">
                    VINASS đồng hành và giúp đỡ các công ty công nghệ, đưa những sản phẩm công nghệ thông minh tiên tiến của các nước phát triển
                    vào ứng dụng tại Việt Nam.

                </p>

                <p class="text-left black-text font-weight-normal">
                    VINASS đồng hành cùng các startup về mặt công nghệ, dữ liệu, data.


                </p>

                <br>
                <p class="text-left black-text font-weight-normal">
                    VINASS đặt ra mục uy tín và chất lượng làm hàng đầu, các đối tác đến với công ty chúng tôi, sẽ được hỗ trợ tận tình và sẽ
                    hài lòng về chất lượng các sản phẩm của chúng tôi.

                </p>
                <br>

            </div>
        </div>
    </div>
    <hr>
    <div class="row  ">
        <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">
            <div class=" wow bounceInLeft system" data-wow-delay="0.3s">
                <img class="img-fluid" src="https://dotchuoinon.files.wordpress.com/2015/07/teamwork.jpg?w=672&h=372&crop=1"
                    alt="Card image cap">
                <br>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 mb-lg-0 mb-4 ">
            <div class=" wow bounceInLeft system" data-wow-delay="0.4s">
                <h2 class="text-center black-text font-weight-bold">
                    Thành viên
                </h2>
                <p class="text-left black-text font-weight-normal">
                    Đội ngũ cộng sự và nhân viên là những kỹ sư công nghệ thông tin và những lập trình viên đến từ trong nước và quốc tế như
                    Pháp, Mỹ, Singapore.
                </p>
                <p class="text-left black-text font-weight-normal">
                    Với những kỹ sư hàng đầu giàu kinh nghiệm, không ngừng đổi mới và học hỏi kiến thức,
                    các phần mềm và trang web luôn sáng tạo, độc đáo, đẹp mắt được khách hàng đánh giá cao.
                </p>
                <p class="text-left black-text font-weight-normal">
                    Bằng những kiến
                    thức và kinh nghiệm thức tế, đội ngũ kỹ sư sẽ giúp các đối tác, khách hàng có những định hướng phát triển
                    phần mềm, trang web tốt nhất.
                </p>
            </div>
        </div>
    </div>
</div>