<!--Footer-->
<footer class="page-footer A text-center text-md-left pt-4 mt-4">
    <hr>
    <br>
    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <!--First column-->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4 ">
                <h5 class="left-text font-weight-bold black-text">THÔNG TIN CÔNG TY</h5>
                <hr>
                <h1 class="left-text font-weight-bold black-text">VINASS</h1>
                <hr>
                <b class="left-text font-weight-normal black-text"> Địa chỉ: 123/Ngũ Hành Sơn, Đà Nẵng</b>
                <hr>
                <b class="left-text font-weight-normal black-text">Điện thoại: 01628811678</b>
                <hr>
                <b class="left-text font-weight-normal black-text">Email:Vinass@gmail.com</b>
            </div>
            <!--/.First column-->

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4 ">
                <h5 class="left-text font-weight-bold black-text">LIÊN KẾT</h5>
                <hr>
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-lg-0 mb-4 ">
                        <br>
                        <ul>
                            <li>
                                <a routerLink="">
                                    <i class="fa fa-bullseye blue-text" aria-hidden="true"></i>
                                    <b class="font-weight-normal black-text"> Trang chủ</b>
                                </a>
                            </li>
                            <br>
                            <li>
                                <a routerLink="">
                                    <i class="fa fa-bullseye blue-text" aria-hidden="true"></i>
                                    <b class="font-weight-normal black-text"> Giới thiệu</b>
                                </a>
                            </li>
                            <br>
                            <li>
                                <a routerLink="">
                                    <i class="fa fa-bullseye blue-text" aria-hidden="true"></i>
                                    <b class="font-weight-normal black-text"> Dịch vụ</b>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-lg-6 col-md-12 mb-lg-0 mb-4 ">
                        <br>
                        <ul>
                            <li>
                                <a routerLink="">
                                    <i class="fa fa-bullseye blue-text" aria-hidden="true"></i>
                                    <b class="font-weight-normal black-text"> Hợp tác</b>
                                </a>
                            </li>
                            <br>
                            <li>
                                <a routerLink="">
                                    <i class="fa fa-bullseye blue-text" aria-hidden="true"></i>
                                    <b class="font-weight-normal black-text"> Dự án</b>
                                </a>
                            </li>
                            <br>
                            <li>
                                <a routerLink="">
                                    <i class="fa fa-bullseye blue-text" aria-hidden="true"></i>
                                    <b class="font-weight-normal black-text"> Liên hệ</b>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
            <!--/.Second column-->

            <hr class="hidden-md-up">

            <!--Third column-->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4 ">
                <h5 class="left-text font-weight-bold black-text">CHIA SẺ</h5>
                <hr>
                <br>
                <ul>
                    <li>
                        <a routerLink="">
                            <i class="fa fa-bullseye blue-text" aria-hidden="true"></i>
                            <b class="font-weight-normal black-text"> LÍ DO BẠN CẦN PHẢI THIẾT KẾ WEBSITE </b>
                        </a>
                    </li>
                    <br>
                    <li>
                        <a routerLink="">
                            <i class="fa fa-bullseye blue-text" aria-hidden="true"></i>
                            <b class="font-weight-normal black-text"> Quảng cáo website trên Zalo</b>
                        </a>
                    </li>
                    <br>
                    <li>
                        <a routerLink="">
                            <i class="fa fa-bullseye blue-text" aria-hidden="true"></i>
                            <b class="font-weight-normal black-text">Tốp 5 công cụ SEO thông dụng</b>
                        </a>
                    </li>
                    <br>
                    <li>
                        <a routerLink="">
                            <i class="fa fa-bullseye blue-text" aria-hidden="true"></i>
                            <b class="font-weight-normal black-text"> Những điều cần biết về Website</b>
                        </a>
                    </li>
                    <br>
                    <li>
                        <a routerLink="">
                            <i class="fa fa-bullseye blue-text" aria-hidden="true"></i>
                            <b class="font-weight-normal black-text">Quảng cáo sản phẩm trên facebook </b>
                        </a>
                    </li>
                </ul>

            </div>
            <!--/.Third column-->

            <hr class="hidden-md-up">

            <!--Fourth column-->

            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <hr>


    <!--Social buttons-->
    <div class="text-center mb-3">

        <a class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect>
            <i class="fa fa-facebook"> </i>
        </a>
        <a class="btn-floating btn-small btn-tw waves-light" mdbWavesEffect>
            <i class="fa fa-twitter"> </i>
        </a>
        <a class="btn-floating btn-small btn-gplus waves-light" mdbWavesEffect>
            <i class="fa fa-google-plus"> </i>
        </a>
        <a class="btn-floating btn-small btn-li waves-light" mdbWavesEffect>
            <i class="fa fa-linkedin"> </i>
        </a>
        <a class="btn-floating btn-small btn-git waves-light" mdbWavesEffect>
            <i class="fa fa-github"> </i>
        </a>
        <a class="btn-floating btn-small btn-pin waves-light" mdbWavesEffect>
            <i class="fa fa-pinterest"> </i>
        </a>
        <a class="btn-floating btn-small btn-ins waves-light" mdbWavesEffect>
            <i class="fa fa-instagram"> </i>
        </a>

    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid black-text">
            <h6 class="font-weight-bold">BẢN QUYỀN © 2018 THUỘC VỀ CÔNG TY TNHH VINASS. TẤT CẢ CÁC QUYỀN ĐƯỢC BẢO HỘ.</h6>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->