<center>

  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0.3" class="active"></li>
      <li data-target="#demo" data-slide-to="0.4"></li>
      <li data-target="#demo" data-slide-to="0.5"></li>
      <li data-target="#demo" data-slide-to="0.6"></li>
    </ul>

    <!-- The slideshow -->
    <div [isControls]="true" class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
      <div class="carousel-item active ">
        <img class="img-fluid" src="../../../../assets/img/vinass1.png" width="100%" height="100%" alt="Los Angeles">
        <div class="carousel-caption">
          <h6 class="font-weight-bold text-center black-text">Nhận thiết kế cho công ty, giới thiệu sản phẩm,bán hàng,hiện đại và khoa học.</h6>
        </div>
      </div>
      <div class="carousel-item">
        <img class="img-fluid" src="../../../../assets/img/vinass2.png" width="100%" height="100%" alt="Chicago">
        <div class="carousel-caption">
          <h6 class="font-weight-bold text-center black-text">
            VINASS là đối tác đáng tin và tiềm năng trong các lĩnh vực số,và luôn đồng hành với bạn</h6>
        </div>
      </div>
      <div class="carousel-item ">
        <img class="img-fluid" src="../../../../assets/img/vinass3.png" width="100%" height="100%" alt="New York">
        <div class="carousel-caption">
          <h6 class="font-weight-bold text-center black-text">
            VINASS nhận thiết kế ững ứng dụng trên điện thoại theo yêu cầu</h6>
        </div>
      </div>
      <div class="carousel-item">
        <img class="img-fluid" src="../../../../assets/img/vinass4.png" width="100%" height="100%" alt="New York">
        <div class="carousel-caption">
          <h6 class="font-weight-bold text-center black-text">
            VINASSs thiết kế, và hoàn thiện những sản phẩm của công ty để cạnh tranh như ứng dụng mobile,web bán hàng</h6>
        </div>
      </div>
      <!-- <div class="carousel-item">
          <img class="img-fluid" src="../../../../assets/img/vinass5.png" width="100%" height="100%" alt="New York">
          <div class="carousel-caption">
            <h6 class="font-weight-bold text-center black-text">
              VINASS là trung tâm tâm tin học uy tín giảng dạy.về Website,App,mobile,từ chuyên gia đến từ nước ngoài.</h6>
          </div>
        </div> -->
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon black-text"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon black-text"></span>
    </a>

  </div>
</center>
<div class="container wow fadeInUp system" data-wow-delay="0.3s">
  <br>
  <h2 class="text-center black-text font-weight-bold ">Hợp tác</h2>
  <hr>
  <br>
  <br>
  <div class="row  ">
    <div class="col-lg-5 col-md-12 mb-lg-0 mb-4 ">
      <div class=" wow bounceInLeft system" data-wow-delay="0.3s">
        <img class="img-fluid" src="http://content.tupaki.com//twdata/2017/0717/news/Drugs-Batch-in-Telugu-Bigg-Boss--1500191459-1359.jpg"
          alt="Card image cap">
      </div>
    </div>
    <div class="col-lg-7 col-md-12 mb-lg-0 mb-4 ">
      <div class=" wow bounceInLeft system" data-wow-delay="0.4s">
        <h2 class="text-center black-text font-weight-bold">
          Doanh nghiệp số
        </h2>
        <p class="text-left black-text font-weight-normal">
          Những công ty đang làm về kinh doanh online mà phần mềm và trang web bị lỗi thời, chưa tối ưu, chưa thu hút khách hàng thì
          hãy để những bàn tay và trí óc công nghệ của VINASS giúp bạn
        </p>

        <p class="text-left black-text font-weight-normal">
          Chúng tôi có những kỹ sư và lập trình viên chuyên nghiệp, sáng tạo. Họ sẽ đưa cho công ty của bạn những giải pháp ưu việt
          và giúp công ty bạn tìm và sửa chữa hệ thống thông tin, trang web, phần mềm.

        </p>

        <p class="text-left black-text font-weight-normal">
          Với sự học hỏi những sự tiến bộ của các nước phát triển như Pháp, Mỹ thì đội ngũ kỹ sư công nghệ thông tin của chúng tôi
          sẽ đem đến cho bạn những phần mềm và giải pháp công nghệ mới nhất hiện nay.

        </p>

        <p class="text-left black-text font-weight-normal">
          Ngoài việc đáp ứng nhu cầu mong muốn của khách hàng, chúng tôi sẽ hướng dẫn và định hướng phát triển trang web nếu công ty
          bạn cần hỗ trợ.

        </p>

      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">
      <div class=" wow bounceInLeft system" data-wow-delay="0.3s">
        <img class="img-fluid" src="http://a-shibuya.jp/wp-content/uploads/2016/02/direction-1014061_960_720.jpg" alt="Card image cap">
      </div>

    </div>
    <div class="col-lg-7 col-md-12 mb-lg-0 mb-4 ">
      <div class=" wow bounceInLeft system" data-wow-delay="0.4s">
        <h2 class="text-center black-text font-weight-bold">
          Start-up
        </h2>
        <p class="text-left black-text font-weight-normal">
          Nếu các bạn là 1 start-up và chưa có đội ngũ mạnh về lập trình hay thiết kế designe và cần giúp đỡ về công nghệ, thì VINASS
          sẵn sàng hợp tác
        </p>
        <p class="text-left black-text font-weight-normal">
          với start up của các bạn để phát triển các sản phẩm. Với sự am hiểu nhiều về những công nghệ mới, những giải pháp mới của
          các nước trên thế giới, đội ngũ kỹ sư của chúng tôi sẽ định hướng, giúp đỡ các bạn phát triển các sản phẩm công
          nghệ ưng ý
        </p>

        <p class="text-left black-text font-weight-normal">
          Hơn nữa, chúng tôi cũng có các cộng sự có thể giúp công ty bạn phát triển và đặc biệt chúng tôi cũng giúp bạn phân tích và
          đánh giá data để có những khách hàng tiềm năng.
        </p>
        <br>
      </div>
    </div>
  </div>
  <hr>
  <div class="row  ">
    <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">
      <div class=" wow bounceInLeft system" data-wow-delay="0.3s">
        <img class="img-fluid" src="http://static.tapchitaichinh.vn/Uploaded/phammaihanh/2015_10_19/1_NVAV.png?width=660&height=450&crop=auto&scale=both"
          alt="Card image cap">
        <br>
      </div>
    </div>
    <div class="col-lg-7 col-md-12 mb-lg-0 mb-4 ">
      <div class=" wow bounceInLeft system" data-wow-delay="0.4s">
        <h2 class="text-center black-text font-weight-bold">
          Cửa hàng online
        </h2>
        <p class="text-left black-text font-weight-normal">
          Hiện nay thế giới đang xoay chuyển trở thành một thế giới phẳng và không biên giới. Bạn đang kinh doanh truyền thống với
          những cửa hàng. Bạn muốn tăng tỷ suất bán hàng và lợi nhuận thông qua bán hàng online.
        </p>
        <p class="text-left black-text font-weight-normal">
          Nhưng bạn không biết làm phần mềm để quảng cáo các sản phẩm của mình. Bạn đừng lo lắng, chúng tôi ở đây để giúp bạn có những
          trang web, phần mềm đẹp mắt đồng thời dịch vụ hỗ trợ quảng cáo giúp sản phẩm của bạn được nhiều người biết đến.
        </p>
        <p class="text-left black-text font-weight-normal">
          Chúng tôi thiết kế các trang web, phần mềm mà các nước phát triển như Pháp, Mỹ đang sử dụng. Các kỹ sư công nghệ và lập trình
          viên thiết kế sáng tạo độc đáo tương thích với điện thoại, giao diện đẹp mắt sẽ đem đến sự mới lạ và thu hút khách
          hàng cho các bạn.
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row  ">
    <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">
      <div class=" wow bounceInLeft system" data-wow-delay="0.3s">
        <img class="img-fluid" src="https://3as2vx1ukbud1x0wjg13ghtw-wpengine.netdna-ssl.com/wp-content/uploads/2012/03/Tax-Burden.jpg"
          alt="Card image cap">
        <br>
      </div>
    </div>
    <div class="col-lg-7 col-md-12 mb-lg-0 mb-4 ">
      <div class=" wow bounceInLeft system" data-wow-delay="0.4s">
        <h2 class="text-center black-text font-weight-bold">
          Cá nhân
        </h2>
        <p class="text-left black-text font-weight-normal">
          Bạn muốn trở thành nhân vật công chúng và được nhiều người biết đến. Bạn muốn quảng cáo thương hiệu cá nhân của mình thông
          qua mạng xã hội thì trang web cá nhân cần được thiết kế và phát triển theo cách riêng của bạn.
        </p>
        <p class="text-left black-text font-weight-normal">
          Tuy vậy, lĩnh vực công nghệ và thiết kế không phải thế mạnh của bạn thì hãy để các kỹ sư công nghệ hàng đầu của VINASS giúp
          bạn.
        </p>
      </div>
    </div>
  </div>
</div>