<div class="container wow slideInUp" data-wow-delay="0.5s">
  <!-- Section: Team v.1 -->
  <section class=" A team-section text-center my-5">
    <br>
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5  black-text">Đội ngủ chủ chốt</h2>
    <!-- Section description -->
    <p class="black-text w-responsive mx-auto mb-5 font-weight-normal">Đội ngũ gồm những lập trình viên chuyên nghiệp có kinh nghiệm làm việt lâu năm sẽ làm mọi yêu cầu bạn mong muốn. </p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5 wow bounce" data-wow-delay="0.3s">
        <div class="avatar mx-auto">
          <img class="img-fluid" src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.0-9/28467859_2117656711801988_3559912284264035481_n.jpg?_nc_cat=0&oh=dc7bda464ee2903293d5c8d630f76159&oe=5BE22E43"
            width="250px" height="250px" class="rounded-circle z-depth-1" alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Lê Hồng Phong</h5>
        <p class="text-uppercase blue-text">
          <strong class="font-weight-bold ">LẬP TRÌNH VIÊN</strong>
        </p>
        <div class="yellow-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
        </div>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/profile.php?id=100006730385937">
            <i class="fa fa-facebook blue-text"> </i>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic">
            <i class="fa fa-twitter blue-text"> </i>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <i class="fa fa-instagram blue-text"> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5 wow bounce" data-wow-delay="0.4s">
        <div class="avatar mx-auto">
          <img src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.15752-9/37697559_2204475473120111_1151057991311556608_n.jpg?_nc_cat=0&oh=4132b35d654b97be4638f83c863135ec&oe=5BD4F45F"
            width="250px" height="250px" class="rounded-circle z-depth-1" alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Lê Hồng Phương</h5>
        <p class="text-uppercase blue-text">
          <strong class="font-weight-bold ">CEO</strong>
        </p>
        <div class="yellow-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
        </div>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/Lehongphuong07.09">
            <i class="fa fa-facebook blue-text"> </i>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <i class="fa fa-instagram yellow-text"> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5  wow bounce" data-wow-delay="0.5s">
        <div class="avatar mx-auto">
          <img src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.0-9/27750855_1970771299906871_3779240674994831223_n.jpg?_nc_cat=0&oh=9ab8be569eb69eded405684135be9a6a&oe=5BD18F03"
            width="250px" height="250px" class="rounded-circle z-depth-1" alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Minh Tài</h5>
        <p class="text-uppercase blue-text">
          <strong class="font-weight-bold ">LẬP TRÌNH VIÊN</strong>
        </p>
        <div class="yellow-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
        </div>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/taiem.bkdn">
            <i class="fa fa-facebook blue-text"> </i>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <i class="fa fa-instagram yellow-text"> </i>
          </a>
          <!-- Dribbble -->
          <a class="p-2 fa-lg ins-ic">
            <i class="fa fa-dribbble green-text"> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6  wow bounce" data-wow-delay="0.6s">
        <div class="avatar mx-auto">
          <img src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.0-1/19105925_1191777760928446_7805200039156545159_n.jpg?_nc_cat=0&oh=e95eb081135419e22673e3375ec53662&oe=5BC6BDA0"
            width="250px" height="250px" class="rounded-circle z-depth-1" alt="Sample avatar">
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Thành Trung</h5>
        <p class="text-uppercase blue-text">
          <strong class="font-weight-bold ">CEO</strong>
        </p>
        <div class="yellow-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
        </div>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/troungtrung.ungoung">
            <i class="fa fa-facebook blue-text"> </i>
          </a>
          <!-- Github -->
          <a class="p-2 fa-lg ins-ic">
            <i class="fa fa-github yellow-text"> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <br>
    <br>
  </section>
  <!-- Section: Team v.1 -->
</div>