.customer-header {
    background-color:wheat;
    height: 84px;
}

.customer-header-left {
    float: left !important;
}

.customer-header-image {
    float: left !important;
}

.customer-header-right{
    float: right !important;
}

.customer-header-date { 
    margin-right: 10px;
    color: black;
    margin-top: 60px;
}
 