<div class="container-fluid">
  <center>
    <h2 class="h1-responsive font-weight-bold my-5  black-text">Các khách hàng đã sử dụng sản phẩm chúng tôi</h2>
    <br>
    <br>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5 wow bounce" data-wow-delay="0.3s">
        <div class=" mx-auto">
          <logo class="wow fadeInUp" data-wow-delay="0.3s">
            <img class="img-fluid" src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-1/p160x160/33163220_220320502086904_5577794334197022720_n.jpg?_nc_cat=0&oh=4fb716fb3d9773af815b0ced99322185&oe=5C08E390"
              width="260px" height="150px" class="rounded-square z-depth-1 logo navbar-brand animated bounce infinite" alt="Sample avatar">
          </logo>

        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5 wow bounce" data-wow-delay="0.3s">
        <div class=" mx-auto">
          <logo class="wow fadeInUp" data-wow-delay="0.3s">
            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl24Fj9XV5b_Shdk9XfniWG7L_ylhileaNR0AlzwrS_L_T2WNg"
              width="260px" height="150px" class="rounded-square z-depth-1 logo navbar-brand animated bounce infinite" alt="Sample avatar">
          </logo>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5 wow bounce" data-wow-delay="0.3s">
        <div class=" mx-auto">
          <logo class="wow fadeInUp" data-wow-delay="0.3s">
            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2BJf9Bsg9j9IssNHVD3AUPuZ8X_mHLz8-wyaYY6XxvA0Ih5VVmA"
              width="260px" height="150px" class="rounded-square z-depth-1 logo navbar-brand animated bounce infinite" alt="Sample avatar">
          </logo>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5 wow bounce" data-wow-delay="0.3s">
        <div class=" mx-auto">
          <logo class="wow fadeInUp" data-wow-delay="0.3s">
            <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTKr-5pf8NgpZ8pobDbf-mLsTeEYTasN9B5QgzpnO5EJxsk-H2"
              width="260px" height="150px" class="rounded-square z-depth-1 logo navbar-brand animated bounce infinite" alt="Sample avatar">
          </logo>
        </div>
      </div>
    </div>
  </center>
</div>