<div class="container wow slideInUp" data-wow-delay="0.5s">
  <!--/Section: Leave a reply (Logged In User)-->
  <br>
  <br>
  <!--Main wrapper-->
  <div class="comments-list text-left">
    <div class="section-heading text-center my-5">
      <h3>nhận xét đánh giá của khách hàng
        <span class="badge blue">3</span>
      </h3>
    </div>
    <!--First row-->
    <div class="row">
      <!--Image column-->
      <div class="col-sm-2 col-12">
        <img src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-1/p200x200/36652134_997793147048982_5880870891872583680_n.jpg?_nc_cat=0&oh=3ebfabcacc5e92d4e6e6752a31dcc72a&oe=5BFD672C"
          class="avatar rounded-circle z-depth-1-half">
      </div>
      <!--/.Image column-->
      <!--Content column-->
      <div class="col-sm-10 col-12">
        <a>
          <h3 class="user-name">Hoàng phúc car</h3>
        </a>
        <div class="card-data">
          <ul class="pl-0 list-unstyled">
            <li class="comment-date">
              <i class="fa fa-clock-o"></i> 05/8/2018</li>
          </ul>
        </div>
        <p class="comment-text">Cảm ơn vinass đã làm website cho tôi. tôi rất hài lòng về các bạn cảm ơn các bạn . thân !</p>
      </div>
      <!--/.Content column-->
    </div>
    <!--/.First row-->
    <!--Second row-->
    <div class="row">
      <!--Image column-->
      <div class="col-sm-2 col-12">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="avatar rounded-circle z-depth-1-half">
      </div>
      <!--/.Image column-->
      <!--Content column-->
      <div class="col-sm-10 col-12">
        <a>
          <h3 class="user-name">Marta Tev</h3>
        </a>
        <div class="card-data">
          <ul class="pl-0 list-unstyled">
            <li class="comment-date">
              <i class="fa fa-clock-o"></i> 08/10/2015</li>
          </ul>
        </div>
        <p class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
          eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
          voluptatem quia voluptas sit aspernatur.</p>
      </div>
      <!--/.Content column-->
    </div>
    <!--/.Second row-->
    <!--Third row-->
    <div class="row">
      <!--Image column-->
      <div class="col-sm-2 col-12">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="avatar rounded-circle z-depth-1-half">
      </div>
      <!--/.Image column-->
      <!--Content column-->
      <div class="col-sm-10 col-12">
        <a>
          <h3 class="user-name">Anna Maria</h3>
        </a>
        <div class="card-data">
          <ul class="pl-0 list-unstyled">
            <li class="comment-date">
              <i class="fa fa-clock-o"></i> 17/10/2015</li>
          </ul>
        </div>
        <p class="comment-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
          quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia.
        </p>
      </div>
      <!--/.Content column-->
    </div>
    <!--/.Third row-->
  </div>
  <!--/.Main wrapper-->
  <br>
  <br>
  <!--Section: Leave a reply (Logged In User)-->
  <section>

    <!--Leave a reply form-->
    <div class="reply-form">
      <h4 class="h1 section-heading">Bình luận của bạn</h4>

      <!--Third row-->
      <div class="row">
        <!--Image column-->
        <div class="col-sm-3 col-12">
          <img src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/edit-user.png" class="avatar rounded-circle z-depth-1-half">
        </div>
        <!--/.Image column-->

        <!--Content column-->
        <div class="col-sm-19 col-12">
          <div class="md-form">
            <!-- <textarea type="text" id="form8" class="md-textarea form-control plac" mdbInputDirective></textarea> -->
            <input type="text" id="form14" class="md-textarea form-control plac" placeholder="Tin nhắn của bạn">
          </div>

        </div>

        <div class="text-center mx-auto">

          <button mdbBtn color="default" [mdbPopover]="content" placement="top" type="button" color="success" class="color" mdbWavesEffect>
            <i class="fa fa-comments left"></i> Gởi đi</button>
          <!-- <button mdbBtn color="blue" class="waves-light" mdbWavesEffect>Gởi cho chúng tôi</button> -->
        </div>
        <!--/.Content column-->

      </div>
      <!--/.Third row-->
    </div>
    <!--/.Leave a reply form-->

  </section>
</div>