<center>
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0.3" class="active"></li>
      <li data-target="#demo" data-slide-to="0.4"></li>
      <li data-target="#demo" data-slide-to="0.5"></li>
      <li data-target="#demo" data-slide-to="0.6"></li>
    </ul>

    <!-- The slideshow -->
    <div [isControls]="true" class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
      <div class="carousel-item">
        <img class="img-fluid" src="../../../../assets/img/vinass1.png" width="100%" height="100%" alt="Los Angeles">
        <div class="carousel-caption">
          <h6 class="font-weight-bold text-center black-text">Nhận thiết kế cho công ty, giới thiệu sản phẩm,bán hàng,hiện đại và khoa học.</h6>
        </div>
      </div>
      <div class="carousel-item active">
        <img class="img-fluid" src="../../../../assets/img/vinass2.png" width="100%" height="100%" alt="Chicago">
        <div class="carousel-caption">
          <h6 class="font-weight-bold text-center black-text">
            VINASS là đối tác đáng tin và tiềm năng trong các lĩnh vực số,và luôn đồng hành với bạn</h6>
        </div>
      </div>
      <div class="carousel-item  ">
        <img class="img-fluid" src="../../../../assets/img/vinass3.png" width="100%" height="100%" alt="New York">
        <div class="carousel-caption">
          <h6 class="font-weight-bold text-center black-text">
            VINASS nhận thiết kế ững ứng dụng trên điện thoại theo yêu cầu</h6>
        </div>
      </div>
      <div class="carousel-item ">
        <img class="img-fluid" src="../../../../assets/img/vinass4.png" width="100%" height="100%" alt="New York">
        <div class="carousel-caption">
          <h6 class="font-weight-bold text-center black-text">
            VINASSs thiết kế, và hoàn thiện những sản phẩm của công ty để cạnh tranh như ứng dụng mobile,web bán hàng</h6>
        </div>
      </div>
      <!-- <div class="carousel-item">
        <img class="img-fluid" src="../../../../assets/img/vinass5.png" width="100%" height="100%" alt="New York">
        <div class="carousel-caption">
          <h6 class="font-weight-bold text-center black-text">
            VINASS là trung tâm tâm tin học uy tín giảng dạy.về Website,App,mobile,từ chuyên gia đến từ nước ngoài.</h6>
        </div>
      </div> -->
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon black-text"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon black-text"></span>
    </a>

  </div>
</center>
<br>
<div class="container wow fadeInUp" data-wow-delay="0.3s">
  <!-- Projects section v.2 -->
  <section class="A text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Dịch vụ của chúng tôi</h2>
    <!-- Section description -->
    <p class="font-weight-normal black-text  ">Dưới đây là các dịch vụ của chúng tôi.</p>
    <br>
    <br>

    <!-- Grid row -->
    <div class="row d-flex justify-content-center system wow fadeInUp" data-wow-delay="0.3s">

      <!-- Grid column -->
      <div class="col-md-6 col-xl-5 mb-4  system">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-2">
          <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample project image">
          <a routerLink="/service/application">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Excerpt-->
        <div class="card-body">
          <a routerLink="/service/application" class="green-text">
            <h5 class="font-weight-bold mt-2 mb-3">
              <i class="fa fa-line-chart pr-2"></i>
              Platform application
            </h5>
          </a>
          <h4 class="font-weight-bold mb-3">Ứng dụng nền tảng</h4>
          <p class="font-weight-normal black-text">Hãy gọi ngay cho chúng tôi để được tư vấn tốt nhất.</p>
          <a class="btn btn-success btn-rounded btn-md" routerLink="/service/application"> Chi tiết</a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-xl-5 mb-4  system">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-2">
          <img src="https://mdbootstrap.com/img/Photos/Others/images/19.jpg" class="img-fluid" alt="Sample project image">
          <a routerLink="/service/website">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Excerpt-->
        <div class="card-body">
          <a routerLink="/service/website" class="blue-text">
            <h5 class="font-weight-bold mt-2 mb-3">
              <i class="fa fa fa-eye pr-2"></i>Web responsive</h5>
          </a>
          <h4 class="font-weight-bold mb-3">Web đáp ứng</h4>
          <p class="font-weight-normal black-text">Hãy gọi ngay cho chúng tôi để được tư vấn tốt nhất.</p>
          <a class="btn btn-success btn-rounded btn-md" routerLink="/service/website"> Chi tiết</a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="row d-flex justify-content-center system wow fadeInUp" data-wow-delay="0.3s">

      <!-- Grid column -->
      <div class="col-md-6 col-xl-5 mb-md-0 mb-4  system">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-2">
          <img src="https://mdbootstrap.com/img/Photos/Others/images/48.jpg" class="img-fluid" alt="Sample project image">
          <a routerLink="/service/data">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Excerpt-->
        <div class="card-body pb-md-0">
          <a routerLink="/service/data" class="brown-text">
            <h5 class="font-weight-bold mt-2 mb-3">
              <i class="fa fa-camera pr-2"></i> Data analytics</h5>
          </a>
          <h4 class="font-weight-bold mb-3">
            Phân tích dữ liệu</h4>
          <p class="font-weight-normal">Hãy gọi ngay cho chúng tôi để được tư vấn tốt nhất
          </p>
          <a class="btn btn-success btn-rounded btn-md" routerLink="/service/data"> Chi tiết</a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-xl-5  system">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-2">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (56).jpg" class="img-fluid" alt="Sample project image">
          <a routerLink="/service/engineering">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Excerpt-->
        <div class="card-body pb-0">
          <a routerLink="/service/engineering" class="cyan-text">
            <h5 class="font-weight-bold mt-2 mb-3">
              <i class="fa fa-phone pr-2"></i> Engineering</h5>
          </a>
          <h4 class="font-weight-bold mb-3">Kỹ thuật</h4>
          <p class="font-weight-normal black-text">Hãy gọi ngay cho chúng tôi để được tư vấn tốt nhất.</p>
          <a class="btn btn-success btn-rounded btn-md " routerLink="/service/engineering"> Chi tiết</a>

        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Projects section v.2 -->
</div>
<br>
<div class="container">
  <router-outlet></router-outlet>

</div>